<header id="croquetheader">
  <link rel="stylesheet" type="text/css" href="header.css">
  <div>
  <h1>Cheam Croquet & Bowls Club</h1> 
  <p><%= link_to image_tag("logo.png", :size => "150x150", :title => "Home"), root_path %></p>
  </div>
</header>
